body {
    height: 100vh; /* full viewport height */
    margin: 0;
    background: url("../Assets/MacBook Pro 16_ - 4.png") no-repeat center center fixed;
    background-size: cover; /* makes it fit full BG */
}

.top-bar{
    height: 10vh;
    width: 100%;
}

.bottom-part{
    display: flex;
}

.leftpart{
    height: 90vh;
    width: 20%;
}

.rightpart{
    height: 90vh;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.219);
}



table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #0a3d62;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #c7ecee;
  transition: 0.3s;
}